
        body {
            background-color: #fdfbf7;
            font-family: Arial, sans-serif;
        }

        .nav-link {
            color: #1475CA !important;
            text-decoration: none;
            padding: 0 8px !important;
            display: inline-block;
        }
        .nav-link:not(:last-child)::after {
            content: '|';
            margin-left: 16px;
        }

        .main-title {
            color: #1475CA;
            font-family: 'Instrument Serif', serif;
            font-size: 5rem;
            text-align: center;
            margin: 2rem 0;
        }

        .subtitle {
            text-align: center;
            color: #1475CA;
            margin-bottom: 4rem;
            font-family: 'Instrument Serif', serif;
        }

        .section-link {
            color: #1475CA;
            text-decoration: none;
            font-size: 1.5rem;
            border-bottom: 2px solid #1475CA;
            display: block;
            margin: 1.5rem 0;
            padding-bottom: 0.5rem;
            width: 100%;
        }

        .header-name {
            color: #1475CA;
            font-weight: normal;
            font-family: 'Instrument Sans', sans-serif;
            font-size: 1.2rem;
        }

        .header-title {
            color: #1475CA;
            font-size: 0.8rem;
            font-family: 'Instrument Sans', sans-serif;
        }

        .header-padding {
            padding-left: 15px;
            padding-right: 15px;
        }
